[Unit]
Description=Telegram PDF Converter Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/pdf_convertor_bot
EnvironmentFile=/opt/pdf_convertor_bot/.env
ExecStart=/opt/pdf_convertor_bot/.venv/bin/python /opt/pdf_convertor_bot/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
